@media (max-width: 615px) {
  .navigation-wrapper {
    flex-direction: column;
    height: 100%;
  }

  .navigation-wrapper > .left-column {
    order: 2;
    margin: 10px 0 15px;
  }

  .navigation-wrapper > .center-column {
    order: 1;
    width: 100%;
  }

  .navigation-wrapper > .right-column {
    order: 3;
    margin: 30px 0 0;
  }

  .links-wrapper {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .links-wrapper > .nav-link {
    margin: 10px 0;
    font-size: 1.5em;
    width: 100%;
  }

  .hero-section {
    padding: 50px 10px;
  }

  .features-section {
    height: 100%;
  }

  .features-section > .columns-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .skewed-header > .skewed-header-wrapper > .skewed-header-content {
    flex-direction: column;
  }

  .skewed-header > .header-bg {
    background-size: 550px;
  }

  .page-container {
    box-sizing: border-box;
    padding: 0 20px;
  }

  .content-wrapper > #chef {
    margin: 0 0 25px !important;
    width: 100% !important;
  }

  .square {
    grid-template-columns: 1fr !important;
  }

  .square > .img-wrapper {
    order: 2;
  }

  .square > .square-text-wrapper {
    order: 1;
  }

  .contact-grid-wrapper {
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .contact-grid-wrapper > .company-metadata-sidebar-wrapper {
    order: 2;
  }

  .contact-grid-wrapper .form {
    order: 1;
  }
}
